<div class="page-header">
  <h3>Question #<%= @question.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Stem</dt>
      <dd><%= @question.stem %></dd>

      <dt>Tags</dt>
      <dd><%= @question.tags %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/questions" class="btn btn-primary">
        Back
      </a>
      <a href="/questions/<%= @question.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_question/<%= @question.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Question has many interaction_questions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Interaction Questions
      </li>

      <% @question.interaction_questions.each do |interaction_question| %>
        <li class="list-group-item">
          <a href="/interaction_questions/<%= interaction_question.id %>">
            <%= interaction_question.interaction_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/interaction_questions/<%= interaction_question.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/interaction_questions/<%= interaction_question.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_interaction_question/<%= interaction_question.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_interaction_question" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for interaction_id -->
      <div class="form-group">
        <label for="interaction_id" class="control-label">
          Interaction
        </label>

        <%= select_tag(:interaction_id, options_from_collection_for_select(Interaction.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for question_id -->
      <input type="hidden" name="question_id" value="<%= @question.id %>">

      <button class="btn btn-block btn-success">
        Create Interaction Question
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Question has many user_question_banks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Question Banks
      </li>

      <% @question.user_question_banks.each do |user_question_bank| %>
        <li class="list-group-item">
          <a href="/user_question_banks/<%= user_question_bank.id %>">
            <%= user_question_bank.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_question_banks/<%= user_question_bank.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/user_question_banks/<%= user_question_bank.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user_question_bank/<%= user_question_bank.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_user_question_bank" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for question_id -->
      <input type="hidden" name="question_id" value="<%= @question.id %>">

      <button class="btn btn-block btn-success">
        Create User Question Bank
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
