<div class="page-header">
  <h1>
    Interactions
    <a href="/interactions/new" class="btn btn-lg btn-success">New Interaction</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "interactions_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :notes_cont, "Notes contains" %>
    <%= f.text_field :notes_cont, :class => "form-control", :placeholder => "Notes contains" %>
  </div>

<div class="form-group">
    <%= f.label :location_cont, "Location contains" %>
    <%= f.text_field :location_cont, :class => "form-control", :placeholder => "Location contains" %>
  </div>

<div class="form-group">
        <%= f.label :time, "Time" %>
        <div class="row">
          <div class='col-md-6 mb-1'>
            <div class='input-group date' id='timegteqPicker'>
              <%= f.text_field :time_gteq, :class => "form-control", :placeholder => "Time greater than or equal to" %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
              <script type="text/javascript">
                $(function () {
                    $('#timegteqPicker').datetimepicker({
                      format: 'LT'
                    });
                });
              </script>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='input-group date' id='timelteqPicker'>
              <%= f.text_field :time_lteq, :class => "form-control", :placeholder => "Time less than or equal to" %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
              <script type="text/javascript">
                $(function () {
                    $('#timelteqPicker').datetimepicker({
                      format: 'LT'
                    });
                });
              </script>
            </div>
          </div>
        </div>
      </div>

<div class="form-group">
          <%= f.label :date, "Date" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='dategteqPicker'>
                  <%= f.text_field :date_gteq, :class => "form-control", :placeholder => "Date greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='datelteqPicker'>
                  <%= f.text_field :date_lteq, :class => "form-control", :placeholder => "Date less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#dategteqPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#datelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#dategteqPicker').on("dp.change", function (e) {
                  $('#datelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#datelteqPicker').on("dp.change", function (e) {
                  $('#dategteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
      <%= f.label :contact_first_name_cont, "Contact first_name contains" %>
      <%= f.text_field :contact_first_name_cont, :class => "form-control", :placeholder => "Contact first_name contains" %>
    </div>

<div class="form-group">
      <%= f.label :setting_name_cont, "Setting name contains" %>
      <%= f.text_field :setting_name_cont, :class => "form-control", :placeholder => "Setting name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/interactions" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#interactions_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Contact</th>
        <th>Setting</th>
        <th>Date</th>
        <th>Recruiting event</th>
        <th>Time</th>
        <th>Location</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>

      <% @interactions.each do |interaction| %>
      <tr>
        <td>
          <% if interaction.user.present? %>
            <a href="/users/<%= interaction.user.id %>">
              <%= interaction.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if interaction.contact.present? %>
            <a href="/contacts/<%= interaction.contact.id %>">
              <%= interaction.contact.first_name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if interaction.setting.present? %>
            <a href="/settings/<%= interaction.setting.id %>">
              <%= interaction.setting.name %>
            </a>
          <% end %>
        </td>
        <td><%= interaction.date %></td>
        <td>
          <% if interaction.recruiting_event.present? %>
            <a href="/recruiting_events/<%= interaction.recruiting_event.id %>">
              <%= interaction.recruiting_event.firm_id %>
            </a>
          <% end %>
        </td>
        <td><%= interaction.time %></td>
        <td><%= interaction.location %></td>
        <td><%= interaction.notes %></td>
        <td>
          <a href="/interactions/<%= interaction.id %>" class="btn btn-primary">Show</a>
          <a href="/interactions/<%= interaction.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_interaction/<%= interaction.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @interactions, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
