<div class="page-header">
  <h3>Interaction #<%= @interaction.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @interaction.user_id %></dd>

      <dt>Contact</dt>
      <dd><%= @interaction.contact_id %></dd>

      <dt>Setting</dt>
      <dd><%= @interaction.setting_id %></dd>

      <dt>Date</dt>
      <dd><%= @interaction.date %></dd>

      <dt>Recruiting event</dt>
      <dd><%= @interaction.recruiting_event_id %></dd>

      <dt>Time</dt>
      <dd><%= @interaction.time %></dd>

      <dt>Location</dt>
      <dd><%= @interaction.location %></dd>

      <dt>Notes</dt>
      <dd><%= @interaction.notes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/interactions" class="btn btn-primary">
        Back
      </a>
      <a href="/interactions/<%= @interaction.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_interaction/<%= @interaction.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Interaction has many interaction_questions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Interaction Questions
      </li>

      <% @interaction.interaction_questions.each do |interaction_question| %>
        <li class="list-group-item">
          <a href="/interaction_questions/<%= interaction_question.id %>">
            <%= interaction_question.interaction_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/interaction_questions/<%= interaction_question.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/interaction_questions/<%= interaction_question.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_interaction_question/<%= interaction_question.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
