<div class="page-header">
  <h3>Interaction #<%= @interaction.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @interaction.user.present? %>
          <a href="/users/<%= @interaction.user_id %>">
            <%= @interaction.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Contact</dt>
      <dd>
        <% if @interaction.contact.present? %>
          <a href="/contacts/<%= @interaction.contact_id %>">
            <%= @interaction.contact.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Setting</dt>
      <dd>
        <% if @interaction.setting.present? %>
          <a href="/settings/<%= @interaction.setting_id %>">
            <%= @interaction.setting.name %>
          </a>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd><%= @interaction.date %></dd>

      <dt>Recruiting event</dt>
      <dd>
        <% if @interaction.recruiting_event.present? %>
          <a href="/recruiting_events/<%= @interaction.recruiting_event_id %>">
            <%= @interaction.recruiting_event.firm_id %>
          </a>
        <% end %>
      </dd>

      <dt>Time</dt>
      <dd><%= @interaction.time %></dd>

      <dt>Location</dt>
      <dd><%= @interaction.location %></dd>

      <dt>Notes</dt>
      <dd><%= @interaction.notes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/interactions" class="btn btn-primary">
        Back
      </a>
      <a href="/interactions/<%= @interaction.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_interaction/<%= @interaction.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Interaction has many interaction_questions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Interaction Questions
      </li>

      <% @interaction.interaction_questions.each do |interaction_question| %>
        <li class="list-group-item">
          <a href="/interaction_questions/<%= interaction_question.id %>">
            <%= interaction_question.interaction_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/interaction_questions/<%= interaction_question.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/interaction_questions/<%= interaction_question.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_interaction_question/<%= interaction_question.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_interaction_question" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for interaction_id -->
      <input type="hidden" name="interaction_id" value="<%= @interaction.id %>">

      <!-- Label and input for question_id -->
      <div class="form-group">
        <label for="question_id" class="control-label">
          Question
        </label>

        <%= select_tag(:question_id, options_from_collection_for_select(Question.all, :id, :stem), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Interaction Question
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
