<div class="page-header">
  <h1>
    Group join requests
    <a href="/group_join_requests/new" class="btn btn-lg btn-success">New Group join request</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User group</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @group_join_requests.each do |group_join_request| %>
      <tr>
        <td>
          <% if group_join_request.user_group.present? %>
            <a href="/user_groups/<%= group_join_request.user_group.id %>">
              <%= group_join_request.user_group.group_access_setting_id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if group_join_request.user.present? %>
            <a href="/users/<%= group_join_request.user.id %>">
              <%= group_join_request.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/group_join_requests/<%= group_join_request.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == group_join_request.user %>
            <a href="/group_join_requests/<%= group_join_request.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_group_join_request/<%= group_join_request.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @group_join_requests, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
