<div class="page-header">
  <h3>Group Join Request #<%= @group_join_request.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User group</dt>
      <dd>
        <% if @group_join_request.user_group.present? %>
          <a href="/user_groups/<%= @group_join_request.user_group_id %>">
            <%= @group_join_request.user_group.group_access_setting_id %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @group_join_request.user.present? %>
          <a href="/users/<%= @group_join_request.user_id %>">
            <%= @group_join_request.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/group_join_requests" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @group_join_request.user %>
        <a href="/group_join_requests/<%= @group_join_request.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_group_join_request/<%= @group_join_request.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
