<div class="page-header">
  <h3>User Group #<%= @user_group.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Group access setting</dt>
      <dd><%= @user_group.group_access_setting_id %></dd>

      <dt>Name</dt>
      <dd><%= @user_group.name %></dd>

      <dt>Description</dt>
      <dd><%= @user_group.description %></dd>

      <dt>Group privacy setting</dt>
      <dd><%= @user_group.group_privacy_setting_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_groups" class="btn btn-primary">
        Back
      </a>
      <a href="/user_groups/<%= @user_group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user_group/<%= @user_group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A User group has many group_join_requests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Group Join Requests
      </li>

      <% @user_group.group_join_requests.each do |group_join_request| %>
        <li class="list-group-item">
          <a href="/group_join_requests/<%= group_join_request.id %>">
            <%= group_join_request.user_group_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/group_join_requests/<%= group_join_request.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/group_join_requests/<%= group_join_request.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_group_join_request/<%= group_join_request.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_group_join_request" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_group_id -->
      <div class="form-group">
        <label for="user_group_id" class="control-label">
          User group
        </label>

        <%= select_tag(:user_group_id, options_from_collection_for_select(UserGroup.all, :id, :group_access_setting_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Group Join Request
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A User group has many user_group_members -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Group Members
      </li>

      <% @user_group.user_group_members.each do |user_group_member| %>
        <li class="list-group-item">
          <a href="/user_group_members/<%= user_group_member.id %>">
            <%= user_group_member.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_group_members/<%= user_group_member.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/user_group_members/<%= user_group_member.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user_group_member/<%= user_group_member.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_user_group_member" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for user_group_id -->
      <div class="form-group">
        <label for="user_group_id" class="control-label">
          User group
        </label>

        <%= select_tag(:user_group_id, options_from_collection_for_select(UserGroup.all, :id, :group_access_setting_id), :class => "form-control") %>
      </div>

      <!-- Label and input for is_admin -->
      <div class="checkbox">
        <label for="is_admin">
          <input type="checkbox" id="is_admin" name="is_admin" value="1" <%= "checked" if @user_group_member.is_admin %>>
          Is admin
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create User Group Member
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
