<div class="page-header">
  <h3>User Group #<%= @user_group.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Group access setting</dt>
      <dd><%= @user_group.group_access_setting_id %></dd>

      <dt>Name</dt>
      <dd><%= @user_group.name %></dd>

      <dt>Description</dt>
      <dd><%= @user_group.description %></dd>

      <dt>Group privacy setting</dt>
      <dd><%= @user_group.group_privacy_setting_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_groups" class="btn btn-primary">
        Back
      </a>
      <a href="/user_groups/<%= @user_group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user_group/<%= @user_group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
