<div class="page-header">
  <h3>Process Type #<%= @process_type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Process type</dt>
      <dd><%= @process_type.process_type %></dd>

      <dt>High end</dt>
      <dd><%= @process_type.high_end %></dd>

      <dt>Low end</dt>
      <dd><%= @process_type.low_end %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/process_types" class="btn btn-primary">
        Back
      </a>
      <a href="/process_types/<%= @process_type.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_process_type/<%= @process_type.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Process type has many firms -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Firms
      </li>

      <% @process_type.firms.each do |firm| %>
        <li class="list-group-item">
          <a href="/firms/<%= firm.id %>">
            <%= firm.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/firms/<%= firm.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/firms/<%= firm.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_firm/<%= firm.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_firm" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for process_type_id -->
      <div class="form-group">
        <label for="process_type_id" class="control-label">
          Process type
        </label>

        <%= select_tag(:process_type_id, options_from_collection_for_select(ProcessType.all, :id, :process_type), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Firm
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
