<div class="page-header">
  <h3>Group Privacy Setting #<%= @group_privacy_setting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User group</dt>
      <dd><%= @group_privacy_setting.user_group_id %></dd>

      <dt>Share members</dt>
      <dd><%= @group_privacy_setting.share_members %></dd>

      <dt>Share contacts</dt>
      <dd><%= @group_privacy_setting.share_contacts %></dd>

      <dt>Share events</dt>
      <dd><%= @group_privacy_setting.share_events %></dd>

      <dt>Share interactions</dt>
      <dd><%= @group_privacy_setting.share_interactions %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/group_privacy_settings" class="btn btn-primary">
        Back
      </a>
      <a href="/group_privacy_settings/<%= @group_privacy_setting.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_group_privacy_setting/<%= @group_privacy_setting.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Group privacy setting has many user_groups -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Groups
      </li>

      <% @group_privacy_setting.user_groups.each do |user_group| %>
        <li class="list-group-item">
          <a href="/user_groups/<%= user_group.id %>">
            <%= user_group.group_access_setting_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_groups/<%= user_group.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/user_groups/<%= user_group.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user_group/<%= user_group.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
