<!-- Validation failure messages -->
<% if @contact.errors.any? %>
  <% @contact.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Contact #<%= @contact.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_contact/<%= @contact.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @contact.first_name %>">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @contact.last_name %>">
      </div>

      <!-- Label and input for banking_title_id -->
      <div class="form-group">
        <label for="banking_title_id" class="control-label">
          Banking title
        </label>

        <%= select_tag(:banking_title_id, options_from_collection_for_select(BankingTitle.all, :id, :firm_id, @contact.banking_title_id), :class => "form-control") %>
      </div>

      <!-- Label and input for firm_id -->
      <div class="form-group">
        <label for="firm_id" class="control-label">
          Firm
        </label>

        <%= select_tag(:firm_id, options_from_collection_for_select(Firm.all, :id, :name, @contact.firm_id), :class => "form-control") %>
      </div>

      <!-- Label and input for gender_id -->
      <div class="form-group">
        <label for="gender_id" class="control-label">
          Gender
        </label>

        <%= select_tag(:gender_id, options_from_collection_for_select(Gender.all, :id, :gender, @contact.gender_id), :class => "form-control") %>
      </div>

      <!-- Label and input for college_id -->
      <div class="form-group">
        <label for="college_id" class="control-label">
          College
        </label>

        <%= select_tag(:college_id, options_from_collection_for_select(College.all, :id, :college_name, @contact.college_id), :class => "form-control") %>
      </div>

      <!-- Label and input for business_school_id -->
      <div class="form-group">
        <label for="business_school_id" class="control-label">
          Business school
        </label>

        <%= select_tag(:business_school_id, options_from_collection_for_select(BusinessSchool.all, :id, :business_school_name, @contact.business_school_id), :class => "form-control") %>
      </div>

      <!-- Label and input for firm_group_id -->
      <div class="form-group">
        <label for="firm_group_id" class="control-label">
          Firm group
        </label>

        <input type="text" id="firm_group_id" name="firm_group_id" placeholder="Firm group" class="form-control" value="<%= @contact.firm_group_id %>">
      </div>

      <button class="btn btn-warning">
        Update Contact
      </button>
      or
      <a href="/contacts/<%= @contact.id %>">Cancel</a>
    </form>
  </div>
</div>
