<div class="page-header">
  <h3>Contact #<%= @contact.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @contact.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @contact.last_name %></dd>

      <dt>Banking title</dt>
      <dd><%= @contact.banking_title_id %></dd>

      <dt>Firm</dt>
      <dd><%= @contact.firm_id %></dd>

      <dt>Gender</dt>
      <dd><%= @contact.gender_id %></dd>

      <dt>College</dt>
      <dd><%= @contact.college_id %></dd>

      <dt>Business school</dt>
      <dd><%= @contact.business_school_id %></dd>

      <dt>Firm group</dt>
      <dd><%= @contact.firm_group_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/contacts" class="btn btn-primary">
        Back
      </a>
      <a href="/contacts/<%= @contact.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_contact/<%= @contact.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Contact has many interactions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Interactions
      </li>

      <% @contact.interactions.each do |interaction| %>
        <li class="list-group-item">
          <a href="/interactions/<%= interaction.id %>">
            <%= interaction.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/interactions/<%= interaction.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/interactions/<%= interaction.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_interaction/<%= interaction.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
