<div class="page-header">
  <h3>User Privacy Setting #<%= @user_privacy_setting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @user_privacy_setting.user_id %></dd>

      <dt>Share contacts</dt>
      <dd><%= @user_privacy_setting.share_contacts %></dd>

      <dt>Share interactions</dt>
      <dd><%= @user_privacy_setting.share_interactions %></dd>

      <dt>Share events</dt>
      <dd><%= @user_privacy_setting.share_events %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_privacy_settings" class="btn btn-primary">
        Back
      </a>
      <a href="/user_privacy_settings/<%= @user_privacy_setting.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user_privacy_setting/<%= @user_privacy_setting.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
