<!-- Validation failure messages -->
<% if @user_recruiting_cycle.errors.any? %>
  <% @user_recruiting_cycle.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add User Recruiting Cycle</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_user_recruiting_cycle" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @user_recruiting_cycle.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for start_date -->
      <div class="form-group">
        <label for="start_date" class="control-label">
          Start date
        </label>

        <input type="text" id="start_date" name="start_date" placeholder="Start date" class="form-control" value="<%= @user_recruiting_cycle.start_date %>">
      </div>

      <!-- Label and input for end_date -->
      <div class="form-group">
        <label for="end_date" class="control-label">
          End date
        </label>

        <input type="text" id="end_date" name="end_date" placeholder="End date" class="form-control" value="<%= @user_recruiting_cycle.end_date %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @user_recruiting_cycle.name %>">
      </div>

      <!-- Label and input for is_active -->
      <div class="checkbox">
        <label for="is_active">
          <input type="checkbox" id="is_active" name="is_active" value="1" <%= "checked" if @user_recruiting_cycle.is_active %>>
          Is active
        </label>
      </div>

      <button class="btn btn-success">
        Create User Recruiting Cycle
      </button>
      or
      <a href="/user_recruiting_cycles">Cancel</a>
    </form>
  </div>
</div>
