<div class="page-header">
  <h3>User Recruiting Cycle #<%= @user_recruiting_cycle.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @user_recruiting_cycle.user_id %></dd>

      <dt>Start date</dt>
      <dd><%= @user_recruiting_cycle.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @user_recruiting_cycle.end_date %></dd>

      <dt>Name</dt>
      <dd><%= @user_recruiting_cycle.name %></dd>

      <dt>Is active</dt>
      <dd><%= @user_recruiting_cycle.is_active %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_recruiting_cycles" class="btn btn-primary">
        Back
      </a>
      <a href="/user_recruiting_cycles/<%= @user_recruiting_cycle.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user_recruiting_cycle/<%= @user_recruiting_cycle.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
