<!-- Validation failure messages -->
<% if @us_state.errors.any? %>
  <% @us_state.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Us State #<%= @us_state.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_us_state/<%= @us_state.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for state_name -->
      <div class="form-group">
        <label for="state_name" class="control-label">
          State name
        </label>

        <input type="text" id="state_name" name="state_name" placeholder="State name" class="form-control" value="<%= @us_state.state_name %>">
      </div>

      <button class="btn btn-warning">
        Update Us State
      </button>
      or
      <a href="/us_states/<%= @us_state.id %>">Cancel</a>
    </form>
  </div>
</div>
