<div class="page-header">
  <h3>User Group Member #<%= @user_group_member.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @user_group_member.user.present? %>
          <a href="/users/<%= @user_group_member.user_id %>">
            <%= @user_group_member.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>User group</dt>
      <dd>
        <% if @user_group_member.user_group.present? %>
          <a href="/user_groups/<%= @user_group_member.user_group_id %>">
            <%= @user_group_member.user_group.group_access_setting_id %>
          </a>
        <% end %>
      </dd>

      <dt>Is admin</dt>
      <dd><%= @user_group_member.is_admin %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_group_members" class="btn btn-primary">
        Back
      </a>
      <a href="/user_group_members/<%= @user_group_member.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user_group_member/<%= @user_group_member.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
