<!-- Validation failure messages -->
<% if @event_rsvp.errors.any? %>
  <% @event_rsvp.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Event Rsvp #<%= @event_rsvp.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_event_rsvp/<%= @event_rsvp.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recruiting_event_id -->
      <div class="form-group">
        <label for="recruiting_event_id" class="control-label">
          Recruiting event
        </label>

        <%= select_tag(:recruiting_event_id, options_from_collection_for_select(RecruitingEvent.all, :id, :firm_id, @event_rsvp.recruiting_event_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @event_rsvp.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Event Rsvp
      </button>
      or
      <a href="/event_rsvps/<%= @event_rsvp.id %>">Cancel</a>
    </form>
  </div>
</div>
