<div class="page-header">
  <h3>City #<%= @city.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>City name</dt>
      <dd><%= @city.city_name %></dd>

      <dt>State</dt>
      <dd><%= @city.state_id %></dd>

      <dt>Country</dt>
      <dd><%= @city.country_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cities" class="btn btn-primary">
        Back
      </a>
      <a href="/cities/<%= @city.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_city/<%= @city.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A City has many offices -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Offices
      </li>

      <% @city.offices.each do |office| %>
        <li class="list-group-item">
          <a href="/offices/<%= office.id %>">
            <%= office.firm_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/offices/<%= office.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/offices/<%= office.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_office/<%= office.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_office" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for firm_id -->
      <div class="form-group">
        <label for="firm_id" class="control-label">
          Firm
        </label>

        <%= select_tag(:firm_id, options_from_collection_for_select(Firm.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for city_id -->
      <input type="hidden" name="city_id" value="<%= @city.id %>">

      <!-- Label and input for firm_hq -->
      <div class="checkbox">
        <label for="firm_hq">
          <input type="checkbox" id="firm_hq" name="firm_hq" value="1" <%= "checked" if @office.firm_hq %>>
          Firm hq
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Office
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
