<!-- Validation failure messages -->
<% if @banking_title.errors.any? %>
  <% @banking_title.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Banking Title #<%= @banking_title.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_banking_title/<%= @banking_title.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for firm_id -->
      <div class="form-group">
        <label for="firm_id" class="control-label">
          Firm
        </label>

        <%= select_tag(:firm_id, options_from_collection_for_select(Firm.all, :id, :name, @banking_title.firm_id), :class => "form-control") %>
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @banking_title.title %>">
      </div>

      <button class="btn btn-warning">
        Update Banking Title
      </button>
      or
      <a href="/banking_titles/<%= @banking_title.id %>">Cancel</a>
    </form>
  </div>
</div>
