<div class="page-header">
  <h3>Firm Group #<%= @firm_group.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Firm</dt>
      <dd><%= @firm_group.firm_id %></dd>

      <dt>Group name</dt>
      <dd><%= @firm_group.group_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/firm_groups" class="btn btn-primary">
        Back
      </a>
      <a href="/firm_groups/<%= @firm_group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_firm_group/<%= @firm_group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Firm group has many contacts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Contacts
      </li>

      <% @firm_group.contacts.each do |contact| %>
        <li class="list-group-item">
          <a href="/contacts/<%= contact.id %>">
            <%= contact.first_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/contacts/<%= contact.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/contacts/<%= contact.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_contact/<%= contact.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
