<div class="page-header">
  <h3>Group Access Setting #<%= @group_access_setting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Acessibility</dt>
      <dd><%= @group_access_setting.acessibility %></dd>

      <dt>Visibility</dt>
      <dd><%= @group_access_setting.visibility %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/group_access_settings" class="btn btn-primary">
        Back
      </a>
      <a href="/group_access_settings/<%= @group_access_setting.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_group_access_setting/<%= @group_access_setting.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Group access setting has many user_groups -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Groups
      </li>

      <% @group_access_setting.user_groups.each do |user_group| %>
        <li class="list-group-item">
          <a href="/user_groups/<%= user_group.id %>">
            <%= user_group.group_access_setting_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_groups/<%= user_group.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/user_groups/<%= user_group.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user_group/<%= user_group.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_user_group" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for group_access_setting_id -->
      <div class="form-group">
        <label for="group_access_setting_id" class="control-label">
          Group access setting
        </label>

        <%= select_tag(:group_access_setting_id, options_from_collection_for_select(GroupAccessSetting.all, :id, :acessibility), :class => "form-control") %>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for group_privacy_setting_id -->
      <div class="form-group">
        <label for="group_privacy_setting_id" class="control-label">
          Group privacy setting
        </label>

        <%= select_tag(:group_privacy_setting_id, options_from_collection_for_select(GroupPrivacySetting.all, :id, :user_group_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create User Group
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
