<div class="page-header">
  <h3>Group Access Setting #<%= @group_access_setting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Acessibility</dt>
      <dd><%= @group_access_setting.acessibility %></dd>

      <dt>Visibility</dt>
      <dd><%= @group_access_setting.visibility %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/group_access_settings" class="btn btn-primary">
        Back
      </a>
      <a href="/group_access_settings/<%= @group_access_setting.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_group_access_setting/<%= @group_access_setting.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
